html {
	height: 100vh;
}

body {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	background-color: #03a9f4;
	color: #fff;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

* {
  box-sizing: border-box;
}

.container {
	flex: 1;
}

a {
	color: #fff;
}

a:focus, a:hover {
    color: #fff;
    text-decoration: underline;
}

a:-webkit-any-link {
    text-decoration: none;
}

a:-webkit-any-link:hover {
    text-decoration: underline;
}

h2 {
	font-size: 1.875em;
}

h1 {
	font-family: 'Lilita One', cursive;
	font-size: 80px;
	letter-spacing: 2px;
	font-weight: 500;
}

button {
	background-color: #fff;
	color: #03a9f4;
	font-size: 1.3em;
	width: 250px;
	height: 50px;
	border-radius: 15px;
	border: none;
	cursor: pointer;
}

button:hover {
    background-color: #03a9f4; 
    color: #fff;
    border: 3px solid #fff;
}

footer {
	text-align: center;
	flex-shrink: 0;
	padding: 25px;
}

@media only screen and (max-width: 500px) {
    h1 {
    	font-size: 3.8em;
    }

    h2 {
		font-size: 1.450em;
	}
};