body, html, a {
	text-align: left;
}

h1 {
	text-align: center;
	padding: 30px;
	margin: 0;
}

h2 {
	text-align: center;
	color: #fc9c6c;
}

#survey {
	width: 80%;
	margin: 0 auto;
	background-color: #fff;
	color: #fc9c6c;
	padding: 20px;
	padding-right: 50px;
	padding-left: 50px;
	border-radius: 20px;
}

button, .btn-default {
	background-color: #fc9c6c;
	color: #fff;
	border: none;
}

button:hover, .btn-default:hover {
    background-color: #fff; 
    color: #fc9c6c;
    border: 3px solid #fc9c6c;
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    color: #fc9c6c;
    background-color: #fff;
    border: 3px solid #fc9c6c;
}

img {
	width: 200px;
	height: auto;
}

button.close {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 5px;
}

button.close:hover {
    background-color: #fff;
    border: none;
}
